h1 Users
form(action='/about-us/search' method='GET') 
    input(type='text', name='q', value=query)
    button Search User

ul 
    each user in users
        li= user.name
        a(href='/users/' + user.id) View Profile