extends ../layouts/common

block content
    h1.mx-2 About Us
    
    p.mx-2 This is a simple CRUD application built using Node.js, Express, and MongoDB. 
    p.mx-2 It demonstrates how to create, read, update, and delete records in a database. 
    p.mx-2 The application uses Pug as the view engine and Bootstrap for styling. 
    p.mx-2 The source code is available on GitHub at 
        a(href="https://github.com/ngdghnam")